@model IEnumerable<IdentityUser>

@{
    ViewBag.Title = "All Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All users</h1>

@if (Model.Any())
{
    <a asp-action="Register" asp-controller="Users"
       class="btn btn-primary mb-3" style="width:auto">
        Add new user
    </a>

    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header text-dark">
                User Id : @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title text-dark">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <a asp-action="EditUser" asp-controller="Administration"
                   asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete :@user.UserName')">Delete</button>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="Users" asp-action="Register">
                Add new user
            </a>
        </div>
    </div>
}